<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="jasbit_light">
    <ion-title>Inicio de sesión</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p text-center text-uppercase>
    Inicia sesión para poder acceder
  </p>
  <hr>
  <ion-item>
    <ion-label floating>URL</ion-label>
    <ion-input type="url" [(ngModel)]="login_data.url"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Usuario</ion-label>
    <ion-input type='text' [(ngModel)]="login_data.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" [(ngModel)]="login_data.password"></ion-input>
  </ion-item>
  <br><br>
    <button ion-button block (click)="btn_click_login()">
      Entrar
    </button>
</ion-content>
